{% apply inky_to_html %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">Hola {{ to }}!</h1>
                <p>
                    <a href="{{ content }}">Click aquí para confirmar tu correo</a>

                </p>
            </columns>


        </row>
    </container>
{% endapply %}